node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
coverage
**/coverage
.git
.env
.env.*
!.env.example
playwright-report
test-results
**/playwright-report
**/test-results
*.log
pino-*.log
packages/database/src/generated
